certifi==2018.4.16
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.6
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
phonenumbers==8.9.13
psycopg2==2.7.4
psycopg2-binary==2.7.4
requests==2.18.4
SQLAlchemy==1.2.8
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.2.1
